<p>
  someoneelse works!
</p>
<div class="container main">
    <div class="row">
        <div class="col-md-6">
            <form [formGroup]='someoneForm' (ngSubmit)="transfer()">
                <div class="form-group" >
                    <label for="recipient">1. Please choose the recipient:</label>
                    <select class="form-control" name="recipient" id="recipient" [formControl]="recipient">
                        <option disabled="disabled" selected="selected"> -- select the recipient -- </option>
                        <option *ngFor="let recipient of recipientList"  value="{{recipient.id}}">{{recipient.name}}</option>
                    </select>
                    <br />
                </div>
                <div class="form-group" >
                    <label for="accountType">2. Please select the account you would like to transfer from:</label>
                    <select class="form-control" name="accountType" id="accountType" [formControl]="accountType" >
                        <option disabled="disabled" selected="selected"> -- select your account -- </option>
                        <option value="Primary">Primary</option>
                        <option value="Savings">Savings</option>
                    </select>
                    <br />
                </div>
                <div class="form-group">
                    <label>3. Please specify the amount you would like to transfer: </label>
                    <span class="input-group-addon">Amount $</span>
                    <input type="text" name="amount" id="amount" class="form-control" aria-label="Amount (to the nearest dollar)"
                            [formControl]="amount"/>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Transfer</button>
            </form>

            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>
